<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register number</title>
</head>
<body>
<form method="post">
  {% csrf_token %}
  <table>
    <tr>
      <td>
        <label>num1</label>
      </td>
      <td>
        <input type="number">number1="number1">
      </td>
    </tr>
     <tr>
      <td>
        <label>num2</label>
      </td>
      <td>
        <input type="number">number2="number2">
      </td>
    </tr>
  </table>
     <input type="submit">value="Register">
</form>

</body>
</html>